.banner-w3agile {
    background: url(../img/m4.jpg) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    min-height: 190px;
    padding: 6em 0 0;
    text-align: center;
    background-attachment: fixed;
    margin-bottom: 3%;
}

span {
    color: #fff;
}

.banner {
    background: url(../img/zacatecas.jpg) no-repeat 0px 0px;
    background-size: cover;
    min-height: 400px;
    padding: 8em 0 0;
    background-attachment: fixed;
    margin-bottom: 3%;

}

@media screen and (max-width: 767px) {
    .banner-w3agile {
        min-height: 120px;
        padding: 2em;

    }
}
